<div class="custom-grid-container" *ngIf="gridModel">
<ng-container *ngIf="totalRecords > 0; else empty">
    <div *ngIf="!withoutToolbar" class="custom-toolbar-block">
        <sap-custom-toolbar [toolbarModel]="toolbarModel"></sap-custom-toolbar>
    </div>
        <div class="table-container"   >
            <p-table #pTable class="custom-grid"
                [columns]="cols" [value]="dataSource" 
                styleClass="p-datatable-striped"
                [scrollable]="true"
                [paginator]="true" locale="he-IL" [rows]="pageSize" [(first)]="first"
                [scrollHeight]="innerScrollHeight"
                [tableStyle]="{ 'width': '100%', 'min-width': 'isMobile? none : 50rem', height: 'auto'  }"
                >
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <ng-container *ngFor="let col of columns; let colIndex = index">
                            <th *ngIf="col.notSorting" [ngClass]="'th-'+ columns[colIndex].dataField">
                                <div class="th-display">
                                    <div>{{ col.headerText }}</div>
                                    <div *ngIf="col.columnInfo && col.columnInfo.length > 0" class="th-info"></div>
                                </div>
                            </th>
                            <th  *ngIf="!col.notSorting" [pSortableColumn]="col.dataField" [ngClass]="'th-'+ columns[colIndex].dataField" >
                                <div class="th-display">
                                    <div>{{ col.headerText }}</div>
                                    <div><p-sortIcon [field]="col.dataField"></p-sortIcon></div>
                                    <div *ngIf="col.columnInfo && col.columnInfo.length > 0" class="th-info" ></div>
                                </div>
                            </th>

                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                     <tr [pSelectableRow]="rowData">
                        <ng-container *ngFor="let col of columns">
                            <td *ngIf="col.dataType != GridColumType.editableCellNumber " 
                                [class.cell-numeric1]="col.dataType == GridColumType.numeric || col.dataType == GridColumType.numericClick  "
                            >
            
                            <div *ngIf="!col.isSpecialColumn" [class.cell-numeric]="col.dataType == GridColumType.numeric">
                                <span *ngIf="col.isColFiltering" [innerHtml]="rowData[col.dataField] | highlight:filterString | formatted: col.formattedOptions"></span>
                                <span *ngIf="!col.isColFiltering" [innerHtml]="rowData[col.dataField]  | formatted: col.formattedOptions"></span>
                            </div> 
                            


                        
                            <div *ngIf="col.dataType == GridColumType.saveButton" class="save-button-wrapper" >
                                    @if (rowData.isDirty && !rowData.isSaved) {
                                  <!-- @if (true) { -->
                                    <button  class="btn bzq1 mx-2 save-btn"
                                        (click)="onSaveEditableCell(col, rowData, i)" 
                                        >
                                        <span>שמירה</span>
                                    </button>
                                    } 
                                
                                    @if(rowData?.isSaved){
                                        <span class="dirty-indicator"><img src="assets/images/saved-indicator.svg" alt="Dirty"></span>
                                    }
                                    <!-- <span></span> -->
                                
                                                        
                            </div>
                             <div *ngIf="col.dataType == GridColumType.makat" class="column-makat">
                                <span> {{ rowData[col.dataField]  | formatted: col.formattedOptions}}</span>
                                <span *ngIf="rowData.ymmDsfrRowsScreenHelperEtSerials.length > 0" class="serials"> 
                                    <span>{{rowData.ymmDsfrRowsScreenHelperEtSerials.length}}</span>
                                    <span>סיראלים</span>
                                    
                                    <span class="cell-link" 
                                        [pTooltip]="getTooltipSerials(rowData)" 
                                        [escape]="false" 
                                        tooltipPosition="top" 
                                        [tooltipEvent]="'focus'" 
                                        tabindex="0"
                                    ><img src="assets/images/info.svg" alt="סיראלים" height="14" width="14" /></span>
                                </span>
                             </div>
                            
                            <span *ngIf="col.dataType == GridColumType.cellClick"
                                class="cell-link" (click)="onClickCell(col, rowData)">
                                {{ rowData[col.dataField]  | formatted: col.formattedOptions}}
                            </span>
                            <span *ngIf="col.dataType == GridColumType.deleteButton"
                                class="cell-link" (click)="onClickCellDelete(rowData)">
                                <img src="assets/images/trash.svg" alt=""  width="16px" height="16px" class="delete" />
                            </span>                            
                            <span *ngIf="col.dataType == GridColumType.numericClick" 
                                class="count-link" 
                                [class.count-link-disabled]="(rowData['subty']!= '40' && rowData['subty']!= '80') || (+rowData[col.dataField] == 0 && !col.formattedOptions?.ZeroAsClickabel) "
                                (click)="onClickCell(col, rowData)">
                                {{ rowData[col.dataField]  | formatted: col.formattedOptions}}
                            </span>
                            <span *ngIf="col.dataType == GridColumType.textWithRemark" 
                                class="" 
                                >
                                {{ rowData[col.dataField]  | formatted: col.formattedOptions}}
                            </span>              
                            

                                <span *ngIf = "col.dataType == GridColumType.booleanToText">
                                    <span *ngIf="rowData[col.dataField] == true" >כן</span>
                                    <span *ngIf="rowData[col.dataField] == false" >לא</span>
                                </span> 
                                
                                
                                <span *ngIf="col.dataType == GridColumType.posNegNumberColor"
                                    class="number-color-status"
                                    [ngClass]="{
                                        'positive': rowData[col.dataField] > 0,
                                        'negative': rowData[col.dataField] < 0,
                                        'zero': rowData[col.dataField] == 0
                                    }">
                                    {{ rowData[col.dataField] | formatted: col.formattedOptions}}
                                </span>  
                                                            
                                
                            </td>
                            
                            <td class="td-editable-wrapper-open" *ngIf="col.dataType == GridColumType.editableCellNumber"
                                 [pEditableColumn]="rowData[col.dataField]" 
                                 [pEditableColumnField]="col.dataField"
                            
                                 >
                            <p-cellEditor #cellEditor>
                                <ng-template #input>
                                    <input  #editableInput pInputText type="number"
                                     [(ngModel)]="rowData[col.dataField]" 
                                    required pattern="^((?:[1-9][0-9]*)(?:\.[0-9]+)?)$"
                                    placeholder="הזנה"  
                                    (ngModelChange)="onEditableCellValueChange(col, rowData, i)"
                                    (blur)="onCellBlur(col, rowData, i)"
                                    fluid />
                                    
                                </ng-template>
                                <ng-template #output>
                                    @if(rowData[col.dataField] == "") {
                                        <span class="empty-value">הזנה</span>
                                    }
                                    @else{
                                        {{ rowData[col.dataField] }}
                                    }
                                    
                                </ng-template>
                            </p-cellEditor>
                        </td>
                    </ng-container>
                    </tr>
                     <tr *ngIf="optionalRow" >
                        <td [attr.colspan]="colslength" class="optional-row">
                            <!-- <sap-handle-request [empRequest]="dataSource[i]"></sap-handle-request> -->
                            <ng-container  *ngTemplateOutlet="optionalRowTemplate; context: { row: dataSource[i] }"></ng-container>
                        </td>
                     </tr>
                </ng-template>
                <ng-container>
    <div dir="rtl"  class="ui-rtl paginator-wrapper">

        <div class="paginator-bar custom-pagination" [class.hide]="withoutPaging">
            <!-- <span class="report-bar">
                מציג  <strong>&nbsp; {{pVisible.first + 1}} - {{lastRecordInReport}}&nbsp;</strong>  מתוך {{pVisible.totalRecords}}
            </span>            
            <span  (click)="goToFirstPage()" class="paginator-links page-link" [class.link-disabled]="isFirstPage">
                ראשון
            </span>
            <span (click)="goToPrevPage()" class="paginator-links page-link" [class.link-disabled]="isFirstPage">
                <
            </span> -->
            <!-- <span>
                <p-paginator #pVisible locale="he-IL" 
                    (onPageChange)="onPageChange($event)" 
                    [first]="first" 
                    [rows]="pageSize" 
                    [totalRecords]="totalRecords"
                    [showFirstLastIcon]="false"
                    >
                </p-paginator>            
            </span> -->
            <!-- <span (click)="goToNextPage()" class="paginator-links page-link" [class.link-disabled]="isLastPage">
                >
            </span>        
            <span (click)="goToLastPage()" class="paginator-links page-link" [class.link-disabled]="isLastPage">
                אחרון
            </span> -->
    
        </div>
        <div class="actions-bar"> 
            <button   *ngIf="showSaveButton" 
            [ngClass]="isSaveEnabled ? 'btn btn-primary save-btn': 'btn-disabled' " 
                          (click)="onClickSaveButton()">
                {{ GeneralContent.SAVE_CHANGES }}
        </button>
        
        </div>
        <br />
        <!-- <div *ngIf="submited && txtError" class="invalid-feedback show">
            <span >{{txtError}}</span>
        </div> -->
    </div>

    
                </ng-container>
                
                <ng-template pTemplate="footer" *ngIf="showFooter">
                    <tr class="footer-row">
                        <ng-container *ngFor="let col of columns">
                            <td >
                                <span *ngIf="col.footerText">{{col.footerText}}</span>
                                <span *ngIf="col.footerDataType == GridColumType.footerSum" class="cell-numeric" [innerHtml]="calcSumByField(col.dataField)"></span>
                            </td>
                        </ng-container>
                        
                    </tr>
        
                </ng-template>
            </p-table>
        </div>

</ng-container>
<!-- Test paginator from ngx-bootstrap -->
    <!-- =============================== -->
     @if(!withoutPaging && totalRecords > pageSize) {
        <!-- <div class="paginator-block">
            <pagination  [totalItems]="totalRecords"
            [itemsPerPage]="pageSize"
            [boundaryLinks]="true"
            [(ngModel)]="currentPage"
            [maxSize]="10"
            [rotate]="true"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
            (pageChanged)="pageChanged($event)"
            ></pagination>
        </div> -->
    }
    <!-- =============================== -->

<ng-template #empty>
    <ng-container *ngIf="showNoResults">
        <div class="empty">
            {{emptyText}}
        </div>
    </ng-container>
</ng-template>

</div>
 