<div class="container" style="display: none;">
  <h2>Поиск по scale_code</h2>

  <!-- <input [(ngModel)]="searchText" placeholder="Введите текст..." /> -->
  <div class="p-m-3">
 
  <div class="p-d-flex p-jc-center p-ai-center p-flex-wrap p-gap-2">
    
    <!-- Автокомплит занимает большую часть строки -->
    <div class="p-flex-1">
      <p-autoComplete
        [(ngModel)]="searchText"
        [suggestions]="results"
        (completeMethod)="search()"
        field="product_name"
        (onSelect)="selectCode($event)"
        placeholder="Начните вводить название продукта или нажмите 🎤"
        [forceSelection]="false">
        <ng-template let-item pTemplate="item">
          <!--{{ item.key_ru }}  или getField(item) если планируем мультиязычность -->
          <span [innerHTML]="item.key_ru | highlight:searchText"></span><!-- или getField(item) если планируем мультиязычность -->
        </ng-template>

      </p-autoComplete>
    </div>

    <!-- Кнопка микрофона -->
    <div>
      <button pButton type="button" label="🎤" icon="pi pi-microphone" (click)="startVoiceSearch()"></button>
    </div>

  </div>
</div> 
  <button (click)="search()">Искать</button>
  <button (click)="startVoiceSearch()">🎤 Голос</button>

   <button (click)="simulateVoice()">Тест голосом</button>
    <p>Результат: {{ resultScaleCode }}</p>

  <ul>
    <li *ngFor="let f of results">
      <b>{{f.scale_code}}</b>: {{f.en}} | {{f.ru}} | {{f.he}}
    </li>
  </ul>
</div>

 <div class="app-container"  style="display: none;">
  <header class="app-header">
    <spr-lang-switch></spr-lang-switch>
  </header>

  <main class="app-main">
    <spr-search-layout></spr-search-layout>
  </main>

  <footer class="app-footer">
    <!-- Можно добавить футер позже -->
  </footer>
</div>

<!-- ====================== -->
 <!-- src/app/app.component.html -->
<!-- <div class="app-container">
  <header class="app-header">
    <spr-lang-switch></spr-lang-switch>
    <button pButton type="button" label="Log In" class="p-button-sm p-button-secondary" (click)="goToAuth()"></button>
    <button pButton type="button" label="Admin" class="p-button-sm p-button-info" (click)="goToAdmin()"></button>
  </header>

  <main class="app-main">
  </main>

  <footer class="app-footer">
  </footer>
</div>
 -->
    <router-outlet></router-outlet> <!-- Здесь будет отображаться либо SearchLayout, либо Auth, либо AdminLayout -->
