<div class="admin-categories">
  <h2>{{'admin.products'| translate}}</h2>

 


  @if(!loading ()){
  <!-- 🔍 FILTERS ROW -->
<div class="filters-row">

  <div class="p-inputgroup search-box">

    <!-- 🔍 иконка слева -->
    <span class="p-inputgroup-addon">
      <i class="pi pi-search"></i>
    </span>

    <!-- input -->
    <input pInputText
           [ngModel]="searchText()"
           (ngModelChange)="searchText.set($event)"
           placeholder="Search..."
           class="search-input"/>

    <!-- ❌ кнопка очистки -->
    <button *ngIf="searchText()"
            pButton
            icon="pi pi-times"
            class="p-button-text"
            (click)="searchText.set('')">
    </button>

  </div>

</div>


    @if (filteredProducts().length > 0){
      <spr-custom-grid [gridModel]="customGridModel"></spr-custom-grid>
    } @else {
      <p>{{'admin.products.notFound'| translate}}</p>
    } 
      
  }
  @if(loading()){
    <p>{{'message.loading'| translate}}</p>
  }



</div>
