<div class="admin-categories">
  <h2>{{'admin.products'| translate}}</h2>

  <!-- @if(!loading ()){ -->
  <div class="page-wrapper">
    <!-- 🔍 FILTERS ROW -->
    <div class="filters-row">

      <div class="p-inputgroup search-box">
        <!-- 🔍 иконка слева -->
        <span class="p-inputgroup-addon">
          <i class="pi pi-search"></i>
        </span>

        <!-- input -->
        <input pInputText
              [ngModel]="searchText()"
              (ngModelChange)="searchText.set($event)"
              placeholder="Search..."
              class="search-input"/>

        <!-- ❌ кнопка очистки -->
        <button *ngIf="searchText()"
                pButton
                icon="pi pi-times"
                class="p-button-text"
                (click)="searchText.set('')">
        </button>

      </div>
      <spr-custom-dropdown [dropDownModel]="categoryModelFilter" 
        [ngModel]="selectedCategory()"
        (ngModelChange)="selectedCategory.set($event)">
      ></spr-custom-dropdown>
      <spr-custom-dropdown [dropDownModel]="processingModelFilter" 
        [ngModel]="selectedProcessing()"
        (ngModelChange)="selectedProcessing.set($event)">
      ></spr-custom-dropdown>

    </div>


    @if (filteredProducts().length > 0){
      <spr-custom-grid [gridModel]="customGridModel"></spr-custom-grid>
    } @else {
      <p>{{'admin.products.notFound'| translate}}</p>
    } 
  </div>    
  <!-- } -->
 <!-- 🔥 LOADER OVERLAY -->
    @if (loading()) {
      <div class="grid-loader">
        <div class="simple-loader"></div>
      </div>
    }



</div>
<p-toast></p-toast>
