@if (dropDownModel) {
<!-- <ng-template #selectTemplate>
  <p-select
    inputId="customDropdown"
    [options]="options"
    optionLabel="Text"
    optionValue="Value"
    [placeholder]="placeholder"
    name="customDropdown"
    [disabled]="disabled"
    appendTo="body"
    [(ngModel)]="value"
    (onChange)="onValueChange($event)"
    [ngClass]="[
      customClassCss,
      (required && (touched || dirty) && (value === null || value === '')) ? 'dropdown-invalid' : ''
    ]">
  </p-select>
</ng-template>

@if (floatLabel) {
  <p-floatlabel>
    <ng-container *ngTemplateOutlet="selectTemplate"></ng-container>
    <label for="customDropdown">...</label>
  </p-floatlabel>
}
@else {
  <ng-container *ngTemplateOutlet="selectTemplate"></ng-container>
} -->
  <p-floatlabel>
    <p-select
    inputId="customDropdown"
    name="customDropdown"
    [options]="options"
    optionLabel="Text"
    optionValue="Value"
    [placeholder]="placeholder"
    [disabled]="disabled"
    appendTo="body"
    [(ngModel)]="value"
    (onChange)="onValueChange($event)"
    [ngClass]="[
      customClassCss,
      (required && (touched || dirty) && (value === null || value === '')) ? 'dropdown-invalid' : ''
    ]">
  </p-select>
    <label for="customDropdown">{{optionsText}}</label>
  </p-floatlabel>
}

