/* You can add global styles to this file, and also import other style files */

@use 'variables' as *;
@import "primeicons/primeicons.css";

body {
  background-color: #ffffff !important;
  color: $color-blue !important;
  font-family: 
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Noto Color Emoji";
}


.highlight {
  color: red;

}
.autocomplete-results {
  background-color: #ffffff !important;
  color: $color-blue !important;
}