/* You can add global styles to this file, and also import other style files */

// @use 'variables' as *;
@use 'custom-primeng' as *;


@import "primeicons/primeicons.css";

// body {
//   // background-color: #ffffff !important;
//   color: $color-green !important;
//   font-family: 
//     system-ui,
//     -apple-system,
//     Segoe UI,
//     Roboto,
//     Arial,
//     "Apple Color Emoji",
//     "Segoe UI Emoji",
//     "Noto Color Emoji";
// }
body {
  background-color: #f8faf8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath d='M25 10 Q32 17 25 25 Q18 17 25 10' fill='%234a9b6b' opacity='0.05'/%3E%3Cpath d='M25 25 Q32 32 25 40 Q18 32 25 25' fill='%236bc48a' opacity='0.05'/%3E%3C/svg%3E");
  background-size: 50px 50px;
  overflow-y: hidden;
}

.highlight {
  color: red;

}
.autocomplete-results {
  background-color: #ffffff !important;
  color: $color-green !important;
}
.page-container {
  width: 100%;
  max-width: 1200px;   
  margin: 0 auto;
}
// styles.scss или custom-primeng.scss

.col-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  // Для вложенных span/div в ячейках
  > span, > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    max-width: 100%;
  }
}
.p-toast{
  @include media("max", "sm") {
    width: 80% !important;
    left: 20px !important;
  }
}


//for test only
// * {
//   outline: 1px dashed rgba(255, 100, 100, 0.3);
// }