/* You can add global styles to this file, and also import other style files */

// @use 'variables' as *;
@use 'custom-primeng' as *;


// @use 'custom-primeng' as *;
// @import 'scss/_custom-primeng.scss';
// @import 'custom-primeng';
@import "primeicons/primeicons.css";

body {
  background-color: #ffffff !important;
  color: $color-green !important;
  font-family: 
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Noto Color Emoji";
}


.highlight {
  color: red;

}
.autocomplete-results {
  background-color: #ffffff !important;
  color: $color-green !important;
}
.page-container {
  width: 100%;
  max-width: 1200px;   
  margin: 0 auto;
}
// styles.scss или custom-primeng.scss

.col-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  // Для вложенных span/div в ячейках
  > span, > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    max-width: 100%;
  }
}
//for test only
// * {
//   outline: 1px dashed rgba(255, 100, 100, 0.3);
// }